h1{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
.body{
  background-color: gray;
}
.image{
  width: 50%;
  height: 50%;
  text-align: center;
  background-color: black;
  padding: 1cm;
  border: 0cm;
  margin: 0cm;
  float: right;

}
.contact{
  font-style: italic;
}
